* {
    padding: 5px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium';
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: forestgreen;
    margin-top: 100px;
    box-shadow: 0px 0px 12px black;
    opacity: 0.99;
}

body{
    background-image: url("sea.jpg");
}

.alarma {
    display: none;
    margin: auto;
    padding: 18px;
    text-align: center;
    background-color: forestgreen;
    margin-top: 100px;
    box-shadow: 0px 0px 12px black;
    font-size: 25px;
}

.alarma div{
    display: inline-block;
}

form input {
    padding: 13px;
    border: 2px solid black
}

#programar{
    width: 78px;
    padding: 18px;
    height: 46px;
    background: url("earth.jpg");
    background-size: 78px 46px;
    border: 1px outset black;
    background-color: aqua;
    color:black;
    font-size: 15px;
}

form input[type="number"]{
    width: 50px;
    font-variant-numeric: oldstyle-nums;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
    background-color: ghostwhite; 
}

@keyframes desaparecer {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}
